@font-face {
    font-family: myFont;
    src: url(Fasthand-Regular.ttf);
  }
  
  * {
    /* font-family: myFont;   */
    /* border: 1px solid white; */
  }
  
  body {
      background-image: url("/static/images/restaurant_bg.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
  }
  img#tag {
    position:fixed;
    
  }
  
  .header {
    font-family: myFont;
    display: flex;
    color:black;
    justify-content:center;
    font-size: 100px;
    font-weight: bolder;  
    text-shadow: 0 0 30px ghostwhite;
  }
  
  .links {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    font-size: 40px;
    font-family: myFont;
    
  }

  .links a {
    text-decoration: none;
  }
  .button {
    background-color: rgba(20, 255, 24, 0.601);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    transition-duration: 1s;
  }
  .button:hover {
    background-color: rgba(0, 255, 0, 0.67);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    box-shadow: 0 12px 16px 0 rgba(244, 238, 238, 0.847), 0 17px 50px 0 rgba(163, 161, 161, 0.847);
  }
  p {
    color: white; 
    font-family: Arial, Helvetica, sans-serif; 
  }
  img {
    height: 300px;  
  }
  .info {
    min-height:300px;
    display: flex;
  }
  .info2 {
    min-height:300px;
    display: flex;
    flex-direction:row-reverse;
  }
  .info > img {
    border: solid rgb(82, 231, 2);
    border-radius: 30px;
    margin:20px;
  }
  .info2 > img {
    border: solid rgb(51, 206, 4);
    border-radius: 30px;
    margin:20px;
  }
  .info p{
    min-height: 100px;
  }
  .info2 p{
    min-height: 150px;
  }
  
  .members img{
    height: 200px;
    border-radius: 50%;
    border: solid rgb(51, 206, 4);
  
  }
  .members {
    display: flex;
    justify-content: space-evenly;
    width:100%;
    margin-top:20px;
    align-items: center;
  }
  .members p{
    text-align: center;
    font-size: larger;
  }
  