.container{
    background-color: bisque;
    padding:  2em 0 2em 0;
    align-items: center;
    justify-content: center;
   
}
.card{
    display: flex;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #333;
    background-color: rgb(205, 21, 205);
    align-items: center;
    justify-content: center;
    padding: 4em;
    margin: 2em;
    max-width: fit-content;

}
.card .form_field{
    padding: .5em;
    margin: .5em;
    color: yellow;
}
.nav_bar{
    text-align:center;
}
.nav_bar li{
    text-decoration: none;
    list-style-type: none;
    font-size: 16pt;
}

* {
    outline: 1px solid rgb(175,155,5);

}

/* body,
html{
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
} */







.nav_menu a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    margin-left: 13px;
    font-weight: 600;
}


.nav_menu {
    overflow: hidden;
    background-color: rgb(255, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
    opacity: 0.5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }
