{% extends 'home.html' %} {% load static %} {% block content %}
<br />
<div class="row">
  <div class="column">
    <div class="card">
      <p>Are you sure you want to delete "{{business}}"</p>
      <form
        class="form_field"
        action="{% url 'delete_business' business.id %}"
        method="POST"
      >
        {% csrf_token %}
        <a class="submit" href="{% url 'businesses' %}">Cancel</a>
        <input class="submit" type="submit" value="Confirm" name="confirm" />
      </form>
    </div>
  </div>
</div>
{% endblock content %}
