
{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit 5 Project</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
</head>


<body>
    <h1 class="header">Dreamwave Web Solutions</h1>
    
    <div class="navdiv">
        
        <nav class="navbar">
{% if user.is_authenticated %}
            <p>Welcome, {{ user.profile.user_name }}!</p>
            <button class="navb"><a href="{% url "home" %}">Home</a></button>
            <button class="navb"><a href="{% url "templates" %}">View templates</a></button>
            <button class="navb"><a href="{% url "businesses" %}">Your businesses</a></button> 
            <button class="navb"><a href="{% url "edit_profile" %}">Edit Profile</a></button>
            <button class="navb"><a href="{% url "logout" %}">Logout</a></button>

 {% endif %}
        </nav>

    </div>

    

   {% block content %}

   {% if not user.is_authenticated %}
   <div class="Welcome">Let us help you build your dream site!</div>
   <div class="get_started_card">
   <button class="get_started"><a href="{% url "register" %}">Get Started</a></button>
   </div>
   {% endif %}

   <div class="splash_div">
   <p class="spash_statement">At Dreamwave Web Solutions, we specialize in providing fully-featured, comprehensive web solutions 
    for businesses and of all types. Whether you run a hotdog stand, manage a Forture 500 company or anything in between, DWS can provide 
    your business with a much needed web presence to significantly increase your online visibility. We provide integrated functionality for
    SEO as well as a full suite of management tool to make sure that your site or app properly represents your entity's image and scope.</p>
    </div>
    {% endblock content %}
    
</body>
</html>