{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  <title>Project Game</title>
</head>

<body>
  <div class="nav_bar">
    <h1>Square Space</h1>
    <ul>
      <li><a class="link" href="{% url 'login' %}">Login</a></li>
      <li><a class="link" href="{% url 'register' %}">Register</a></li>
      <li><a class="link" href="{% url 'logout' %}">Logout</a></li>
      <li><a class="link" href="{% url 'home' %}">Home</a></li>
      <li><a class="link" href="{% url 'profile' %}">Profile</a></li>
    </ul>
  </div>
  {% block content %}
  <div class="container">
    {% for user in users %}
    <div class="row">
      <div class="column">
        <div class="card">
          <ul>
            <li>Username: {{user}}</li>
            <li>ID: {{user.id}}</li>
            <li>Email: {{user.email}}</li>
          </ul>
        </div>
      </div>
    </div>
    <br />
    {% endfor %}
  </div>
  {% endblock content %}
</body>

{% comment %} </html>
  <body>
    <h1>Square Space</h1>
    <ul>
      <li><a href="{% url 'login' %}">login</a></li>
      <li><a href="{% url 'register' %}">register</a></li>
      <li><a href="{% url 'logout' %}">logout</a></li>
      <li><a href="{% url 'home' %}">home</a></li>
      <li><a href="{% url 'profile' %}">profile</a></li>
    </ul>
    {% block content %}
    <div class="container">
      {% for user in users %}
      <div class="card">
        <ul>
          <li>Username: {{user}}</li>
          <li>ID: {{user.id}}</li>
          <li>Email: {{user.email}}</li>
        </ul>
      </div>
      <br />
      {% endfor %}
    </div>
    {% endblock content %}
  </body>
</html> {% endcomment %}
