{% extends 'index.html' %} {% block content %}
<div class="container">
  <div class="card">
    <form method="POST">
      {% csrf_token %}
      <ul>
        <li>
          <div class="login">
            {{ form.username.label_tag }} {{ form.username }}
          </div>
        </li>
        <li>
          <div class="login">
            {{ form.password.label_tag }} {{ form.password }}
          </div>
        </li>
      </ul>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
{% endblock content %}
