{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Unit 5 Project</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'drewstyles.css' %}"
    />
  </head>

  <body>
    <header>
      <h1 class="medical">Medical Office</h1>
      <nav>
        <ul>
          <li><a href="medical_office/home/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Welcome to our {{object.business.type}}</h2>
        <p>{{object.business.missionStatement}}</p>
      </section>
      <section>
        <h2>Our Services</h2>
        <ul>
          <li>{{object.business.name}} General Medicine</li>
        </ul>
      </section>
      <section>
        <h2>About Us</h2>
        <p>{{object.business.description}}</p>
      </section>
      <section>
        <h2>Contact Us</h2>
        <p>
          {{object.business.name}}<br />
          Address: {{object.business.contact.address}}<br />
          Phone: {{object.business.contact.phoneNumber}}<br />
          Email: {{object.business.contact.email}}
        </p>
      </section>
    </main>
    <footer>
      <p>
        &copy; Unit 5 Project feturing Bryan, Joesph, Phillp, Drew. All rights
        reserved.
      </p>
    </footer>
  </body>
</html>
