<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unit 5 Project</title>
</head>

<body>

  {% block content %}
  <form method="post">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required><br><br>
    <label for="content">Content:</label>
    <textarea id="content" name="content" required></textarea><br><br>
    <button type="submit">Save</button>
  </form>
  <section>
    <h2>Contact Us</h2>
    <p>Base Camp Coding Acadmy<br>
      Water Valley, MS<br>
      Phone: 662:nun:ya:buisness<br>
      Email: info@BCCA.org</p>
  </section>
  </main>
  <footer>
    <p>&copy; Unit 5 Project feturing Bryan, Joesph, Phillp, Drew. All rights reserved.</p>
  </footer>
  {% endblock %}
</body>

</html>