<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test1</title>

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <div class="nav_menu">
      <ul>
        <li><a href="link_to_first_page">Home</a></li>
        <li><a href="link_to_2_page">About</a></li>
        <li><a href="link_to_third_page">Contact</a></li>
        <li><a href="link_to_4_page">Mission</a></li>
      </ul>
    </div>
  </body>
</html>
