{% extends 'index.html' %} {% block content %}
<div class="container">
  <div class="card">
    <div class='card_body'>{{request.user.profile.name}}</div>
    <img src="{{ request.user.profile.profile_pic.url }}" alt="Profile Picture" class="profile_pic">

  </div>
</div>
    <div class="container">
      <div class="card">
        <form method="POST">
          {% csrf_token %}
          <ul>
            <li>
              <div class="edit_profile">
                {{ form.name.label_tag }} {{ form.name }}
              </div>
            </li>
            <li>
              <div class="edit_profile">
                {{ form.phone.label_tag }} {{ form.phone }}
              </div>
            </li>
            <li>
              <div class="edit_profile">
                {{ form.email.label_tag }} {{ form.email }}
              </div>
            </li>
            <li>
              <div class="edit_profile">
                {{ form.profile_pic.label_tag }} {{ form.profile_pic }}
              </div>
            </li>
          </ul>
          <button class='submit' type="submit">Submit Changes</button>
        </form>
      </div>
    </div>
    {% endblock content %}
  </div>
</div>
    
