{% extends 'home.html' %} {% block content %}
<div class="container">
  <div class="card">
    <div class="card_body">
      <h3 class="form_title">Register</h3>
      <br />
      <form method="POST">
        {% csrf_token %}

        <div class="form_field">
          <i class="fas fa-user"></i>
          <input
            type="text"
            name="username"
            placeholder="Username..."
            class="form_input"
          />
        </div>
        <div class="form_field">
          <i class="fa fa-envelope"></i>
          <input
            type="email"
            name="email"
            placeholder="Email..."
            class="form_input"
          />
        </div>
        <div class="form_field">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            name="password1"
            placeholder="Password..."
            class="form_input"
          />
        </div>
        <div class="form_field">
          <i class="fas fa-key"></i>
          <input
            type="password"
            name="password2"
            placeholder="Confirm Password..."
            class="form_input"
          />
        </div>
        <button class="submit" type="submit">Register</button>
      </form>
      <br />
      <div class="card_text">
        <span>Have an Account?</span
        ><a class="link" href="{% url 'login' %}">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
