<!-- website_detail.html -->

{% extends 'home.html' %} {% block content %} {% if businesses|length == 0 %}
<p class="no_items">You haven't created any businesses yet?</p>
{% else %} {% for business in businesses %}
<br />
<h2>{{ business.name }} Website</h2>
<p>{{ business.description }}</p>
<h3>Contact Information</h3>
<p>Email: {{ business.contact.email }}</p>
<p>Phone Number: {{ business.contact.phoneNumber }}</p>
<p>Address: {{ business.contact.address }}</p>
{% if business %}
<button class="link"><a href="{% url 'home' %}">view My Website</a></button>
{% endif %} {% endfor %} {% endif %} {% if businesses|length == 0 %}
<p class="no_items">You haven't created a website for this business yet.</p>
{% endif %}
<button class="link">
  <a href="{% url 'add_business' %}">Create Business</a>
</button>
{% endblock content %}
