{% extends 'home.html' %} {% block content %}
<div class="container">
  {% if businesses|length == 0 %}
  <p class="no_items">You haven't created any businesses yet?</p>
  {% else %} {% for business in businesses %}
  <div class="card">
    <h2>{{ business.name }} Website</h2>
    <p>{{ business.description }}</p>
    <h3>Contact Information</h3>
    {% for contact in business_contact %}
    <! ignore prettier ->
    {% if contact.business.id == business.id %}
    <p>Email: {{ contact.email }}</p>
    <p>Phone Number: {{ contact.phoneNumber }}</p>
    <p>Address: {{ contact.address }}</p>
    {% endif %} {% endfor %}
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock %}
